<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laravel Vue.js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">

</head>
<body>
<div id="root" class="container">

    <tabs>
        <tab name="About us" :selected="true">
            <h1>Here is the content11</h1>
        </tab>
        <tab name="About Our Culture">
            <h1>Here is the content</h1>
        </tab>
        <tab name="About Our Vision">
            <h1>Here is the content</h1>
        </tab>
    </tabs>

</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>

<script>
    Vue.component('tabs', {
        template: `
                <div>
                <div class="tabs">
                <ul>
                <li v-for="tab in tabs" :class="{'is-active':tab.isActive}">
                <a :href="tab.href" @click="selectTab(tab)" >@{{tab.name}}</a></li>
                </ul>
                </div>
                <div class="tabs-details">
                <slot></slot>
                   </div>
                </div>
                `,
        data(){
            return {tabs: []};
        },
        created(){
            this.tabs = this.$children;
        },
        methods: {
            selectTab(selectedTab){
                this.tabs.forEach(tab => {
                    tab.isActive = (tab.name == selectedTab.name)
                })
            }
        }


    });
    Vue.component('tab', {
        template: `
            <div v-show="isActive"><slot></slot></div>
        `,
        props: {
            name: {required: true},
            selected: {default: false},
        },
        data(){
            return {
                isActive: false
            }
        },
        mounted(){
            this.isActive = this.selected;
        },
        computed: {
            href(){
                return '#' + this.name.toLowerCase().replace(/ /g, '-');
            }
        }
    });

    new Vue({
        el: '#root',
    });

</script>


</body>
</html>
