<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laravel Vue.js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">

</head>
<body>
<div id="root" class="container">
    <coupon @applied="onCouponApplied"></coupon>
    <h1 v-if="couponApplied">Hello</h1>

</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>

<script>


    //window.Event = new Vue();
    window.Event=new class{
        constructor(){
            this.vue=new Vue();
        }

        fire(event, data=null){
            this.vue.$emit(event,data);
        }

        listen(event,callback){
            this.vue.$on(event,callback);
        }
    }

    Vue.component('coupon',{
        template:'<input placeholder="Enter your code" @blur="onCouponApplied">',
        methods: {
            onCouponApplied(){
                //Event.$emit('applied')
                Event.fire('applied')
            }
        }
    })

    new Vue({
        el:'#root',
        data:{
            couponApplied:false
        },
        methods:{
            onCouponApplied(){
                this.couponApplied=true
            }
        },
        created(){
            //Event.$on('applied',function()
            Event.listen('applied',function()
            {
                alert(1);
            })
        }
    })

</script>

</body>
</html>
