<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laravel Vue.js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">

</head>
<body>
<div id="root" class="container">

    <message title="Title" body="messageeegegeg"></message>
    <message title="123123" body="2323"></message>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>

<script>

    Vue.component('message', {
        props: ['title', 'body'],
        data(){
            return {
                isVisible: true
            }
        },
        methods: {
            hideModal(){
                this.isVisible = false;
            }
        },
        template: '<article v-show="isVisible"><div id="title"><h1>@{{ title }}</h1><button type="button" @click="hideModal">x</button></div><div id="body">@{{body}}</div></article>'
    });
    new Vue({
        el: '#root',
    });

</script>
</body>
</html>
