<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laravel Vue.js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
</head>
<body>
``
<div id="root" class="container">
    <modal>
        <template slot="title">Test title</template>
        Test content
    </modal>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
<script>

    Vue.component('modal',{
        template:`
    <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
    <header class="modal-card-head">
    <p class="modal-card-title"><slot name="title"></slot></p>
    <button class="delete"></button>
    </header>
    <section class="modal-card-body">
    <slot>Default text</slot>
    </section>
    <footer class="modal-card-foot">
    <a class="button is-success"><slot name="button">Defaul Save</slot></a>
    <a class="button">Cancel</a>
    </footer>
    </div>
    </div>`
    });

    new Vue({
        el:'#root'
    })
</script>


</body>
</html>
