<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Laravel Vue.js</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">

</head>
<body>
<div id="root" class="container">

    <task-list></task-list>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
<script>
    Vue.component('task-list', {
        template: '<div><task v-for="task in tasks">@{{task.task}}</task></div>',

        data(){
            return {
                tasks: [
                    {task: 'Go to the store', complete: true},
                    {task: 'Go to the room', complete: false},
                    {task: 'Go to the market', complete: true},
                    {task: 'Go to the storage', complete: false}
                ]
            }
        }
    });

    Vue.component('task', {
        template: '<li><slot></slot></li>'
    });

    new Vue({
        el: '#root'
    })
</script>


</body>
</html>
